html {background-color: #f8f8f8;}

body {font-family:Helvetica, Arial, sans-serif; font-size:11pt; text-align:left; line-height:1.25; margin:16px auto; padding:2%;}

img {margin:10px; margin-top:10px; margin-bottom:10px;}
.underline {height:2px; color:#1e90ff; background-color:#1e90ff;}
.nowrap {white-space:nowrap;}
.align-right {float:right; font-style:normal; font-size:100%;}
sup {bottom:0.2em;}
sub {bottom:-0.4em;}
sup, sub {font-size:80%; vertical-align:20%; position:relative;}
#unofficial {margin:4em 0; background-color:#eed4bb; border-radius:6px; padding:2em 4em;}

/* Таблицы */
table {font-size:11pt;}
.tbl_1 {font-size:10pt; margin-left:8px; border-collapse:collapse; border-style:solid; border-color:#808080;}

/* Заголовки */
h1, h2, h3, h4, h5, h6 {color:#000080; font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-style:normal; text-align:left; white-space:nowrap;}
h1 {font-size:16pt;}
h2 {font-size:14pt;}
h3 {font-size:12pt;}
h4 {font-size:11pt; margin-top:8px; margin-bottom:4px;}
h5 {font-size:11pt; margin-left:20px; margin-top:8px; margin-bottom:4px;}
h6 {text-transform:uppercase;}
.head {background-color:#dcdcdc; text-align:center; font-size:75%; white-space:nowrap; text-transform:uppercase; letter-spacing:2px;}
.head1 {background-color:#dcdcdc; text-align:center; white-space:nowrap; text-transform:uppercase; padding-top:20px; padding-bottom:20px;}
.below {background-color:#f0f0f0; padding:20px 50px 20px 50px;}
.below table {font-size:100%;}

/* Ссылки */
a {rel="noopener";}
.link {color:#000080; cursor:pointer;}
a:link {color:#000080; background-color:#f0f0f0; text-decoration:none;}
a:active {color:#000080; background-color:#f0f0f0; text-decoration:none;}
a:visited {color:#000080; background-color:#f0f0f0; text-decoration:none;}
a:hover {text-decoration:underline; background-color:#e0e0e0;}
.note_trans a {background-color:#ffffe8;}
.lnk {color:#000080; cursor:pointer; text-decoration:none; background-color:#f0f0f0; white-space:nowrap;}
.lnk1 {color:#000080; cursor:pointer; text-decoration:none; background-color:#f0f0f0;}
.lnk:hover {text-decoration:underline; background-color:#e0e0e0;}
.lnk1:hover {text-decoration:underline; background-color:#e0e0e0;}

/* Шрифты */
.norm {font-family: Helvetica, Arial, sans-serif; font-size: 10pt;}
.tnr {font-family: Times New Roman; font-size:108%;}
b {font-size:94%; color:#222;}
pre {padding-left:8px; background:#f0f0f0; margin-top:4px; margin-bottom:4px; font-size:110%;}
tt {font-size:110%; white-space:nowrap;}
code {font-size:110%; white-space:nowrap; font-weight:600;}
i {font-family:Times New Roman; font-size:115%;}
.shadow {color:#808080;}
.low {font-size:100%; background-color:#ffffe8;}
em {font-weight:600; font-style:italic; font-size:96%;}
.upline {border-style:solid; border-width:1px; border-color:inherit; border-right-color:transparent; border-bottom-color:transparent; border-left-color:transparent;}

/* Примечания */
.note {font-size:100%; color:#2e2b57; background-color:#f0f0f0; margin-top:4px; margin-bottom:4px; margin-left:20px; margin-right:10px; padding-left:10px;}
.note_trans {font-size:90%; color:#808080; background-color:#ffffe8; margin-top:4px; margin-bottom:4px; margin-left:10px;}
.warning {font-size:100%; color:#2e2b57; background-color:#ffe5e5; margin-top:4px; margin-bottom:4px; margin-left:10px; padding-left:10px;}
.important {font-size:100%; color:#000000; background-color:#fffacd; margin-top:4px; margin-bottom:4px; margin-left:20px; margin-right:10px; padding:10px;}

/* Отступы */
.right_side {background-color:#e0e0e0; float:right; margin-top:20px; font-size:90%; margin-right:20px;}
.indent {text-align:left; padding-left:20px; padding-right:10px; margin-top:4px; margin-bottom:0px; background-color:#e0e0e0;}
.blockindent {padding-left:20px; padding-right:10px; margin-top:4px; margin-bottom:4px;}
.indent1 {padding-left:40px; padding-right:10px; margin-top:4px; margin-bottom:4px;}
.tripleindent {padding-left:120px; margin-top:0px; margin-bottom:-20px; white-space:nowrap;}
.list {margin-left:20px; border-style:solid; border-width:1px; border-color:#a9a9a9; border-top-style:none; border-bottom-style:none; border-right-style:none; padding-left:30px;}
.list pre {padding-left:20px;}
.list ul {list-style-type:none; padding-left:20px;}

/* Подпись и надпись */
.caption {font-size:9pt; letter-spacing:.5pt; line-height:10pt; text-align:center; margin-bottom:0pt;}
.caption_top {font-size:9pt; letter-spacing:.5pt; line-height:18pt; text-align:center; padding-left:20px; margin-bottom:0pt;}

/* Списки */
.blockindent ul {list-style-type:none; border-style:solid; border-width:1px; border-color:#a9a9a9; border-top-style:none; border-bottom-style:none; border-right-style:none; padding-left:30px;}
.blockindent ul li {text-indent:-20px;}
ul {margin-top:4px; margin-bottom:4px;}
ul ul {list-style-type:none; border-style:solid; border-width:1px; border-color:#a9a9a9; border-top-style:none; border-bottom-style:none; border-right-style:none; text-indent:10px;}
ol ul {list-style-type:none; border-style:solid; border-width:1px; border-color:#a9a9a9; border-top-style:none; border-bottom-style:none; padding-left:5px; padding-right:5px;}
ol {list-style-type: decimal; margin-left:50px; margin-top:4px; margin-bottom:4px;}
ol ol {list-style-type: lower-alpha; margin-left:30px;}
ol ol ol {list-style-type: lower-roman; margin-left:30px;}
ol ol ol ol {list-style-type: decimal; margin-left:30px;}
ol ol ol ol ol {list-style-type: lower-alpha; margin-left:30px;}
ol ol ol ol ol ol {list-style-type: lower-roman; margin-left:30px;}


/* Всплывающие подсказки */
      /* при наведении */
.floatTip { position:absolute; width:auto; border:1px solid #87cefa; border-radius:8px; box-shadow:3px 3px 3px rgba(0, 0, 0, .3); padding:8px; font-family:sans-serif; font-size:9pt; white-space:nowrap; color:#333; background:#e0ffff; opacity:0; filter:alpha(opacity=0); z-index:98; transition-delay:0.2s; transition-duration:0.5s;}
      /* при клике */
.floatTipClick { position:absolute; width:auto; border:1px solid #000; border-radius:8px; box-shadow:3px 3px 3px rgba(0, 0, 0, .3); padding:8px; font-family:sans-serif; font-size:9pt; white-space:nowrap; color:#ffffff; background:#6495ed; opacity:0; filter:alpha(opacity=0); z-index:99; }

